body {
  width: 500px;
  display: block;
  margin: 20px auto;
}
.container {
  background-image: url(https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=655&q=80);
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(199, 202, 196, 0.6) 0%,
    rgb(41, 138, 133) 74.6%
  );
  border: 2px solid #000000;
}

h1 {
  color: #000000;
  padding-top: 20px;
  font-weight: bold;
  font-size: 40px;
  margin: 0px 0px 50px 5px;
}

h3,
h4 {
  color: #000000;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1pt;
  font-weight: bolder;
}
h2 {
  color: #000000;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1pt;
}
p {
  color: #000000;
  text-align: center;
  font-size: 17px;
}
.current-temp {
  color: #000000;
  font-size: 40px;
  text-align: right;
  font-weight: bold;
}
.description {
  color: #000000;
  text-align: center;
  font-size: 17px;
  margin-bottom: 30px;
}
.input-group {
  max-width: 300px;
  background: grey;
}
.fa-search {
  color: white;
}
.fa-map-marker-alt {
  color: white;
}
.main-border {
  border: 2px solid;
}
.future1 {
  background: #dbdfdc;
  padding: 10px 10px;
}
.future2 {
  background: #dbdfdc;
  padding: 10px 10px;
}
.future3 {
  background: #dbdfdc;
  padding: 10px 10px;
}
.future4 {
  background: #dbdfdc;
  padding: 10px 10px;
}
.future5 {
  background: #dbdfdc;
  padding: 10px 10px;
}

.text-weather {
  color: #000000;
  font-size: 12px;
  text-align: left;
}
.current-weather {
  margin-top: 10px;
  width: 20%;
}
.forecast-weather {
  width: 100%;
  text-align: center;
}
.iconStyling {
  text-align: center;
}
.mytext {
  color: #000000;
  font-size: 16px;
  text-align: center;
}

.box {
  margin: 0px 5px 0px 0px;
}
.gitHub {
  color: grey;
  font-size: 12px;
  text-decoration: none;
}
.forecastBoxes {
  margin: 0px 0px 0px 5px;
}
